/* line 3, ../sass/dan.scss */
.bodycopy {
  font-family: helvetica, arial, tahoma, verdana, sans-serif;
  color: gray;
}

/* line 5, ../sass/dan.scss */
.pageheadline {
  color: gray;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* line 7, ../sass/dan.scss */
.headlines {
  color: blue;
}

/* line 9, ../sass/dan.scss */
.main-pnl {
  width: 700px;
  margin: 0 auto 0 auto;
  border-top: 3px;
}

/* line 11, ../sass/dan.scss */
.column1 {
  float: left;
}

/* line 13, ../sass/dan.scss */
.column2 {
  width: 320px;
  float: left;
  margin: 10px;
  margin-left: -40px;
  margin-top: -8px;
  padding: 0;
}

/* line 15, ../sass/dan.scss */
.listtitle {
  text-align: left;
}

/* line 17, ../sass/dan.scss */
.lowercontent {
  width: 630px;
  margin: 0 auto 0 auto;
  clear: both;
}

/* line 19, ../sass/dan.scss */
.looting {
  padding-top: 30px;
}

/* line 21, ../sass/dan.scss */
.subprime {
  padding-top: 30px;
}

/* line 23, ../sass/dan.scss */
.crew {
  padding-top: 30px;
}

/* line 25, ../sass/dan.scss */
.homies dt {
  font-size: 1.3em;
  font-weight: bolder;
  padding-top: 20px;
}

/* line 27, ../sass/dan.scss */
.homies dd {
  margin-left: 0;
}

/* line 29, ../sass/dan.scss */
.contactdeets {
  color: gray;
  text-decoration: none;
  padding-top: 20px;
}

/* line 31, ../sass/dan.scss */
.legaleez {
  padding-top: 50px;
  padding-left: 20px;
  color: blue;
}

/* line 33, ../sass/dan.scss */
figcaption {
  text-align: center;
  font-family: cursive;
}
