/* line 59, ../sass/kimmie.scss */
body {
  background-color: #fab6d0;
  color: #243443;
  font: 13px "Raleway", "Helvetica", sans-serif;
  width: 80%;
  margin: auto;
}

/* line 66, ../sass/kimmie.scss */
#container {
  background: #fbfaf3;
  padding: 40px;
  box-shadow: 1px 1px 5px #ccc;
}

/* line 71, ../sass/kimmie.scss */
figure {
  float: left;
  width: 30%;
  border: thin silver solid;
  margin: .5em;
  padding: 0.5em;
  background: #f1f1f1;
}

/* line 79, ../sass/kimmie.scss */
figcaption {
  font-size: 80%;
  padding: 5px 0;
}

/* line 83, ../sass/kimmie.scss */
figure img {
  width: 100%;
}

/* line 86, ../sass/kimmie.scss */
article {
  padding-bottom: 40px;
}

/* line 89, ../sass/kimmie.scss */
footer {
  text-align: center;
  margin: 20px;
}

/* line 95, ../sass/kimmie.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab", "Georgia", serif;
  font-weight: 700;
  color: #009899;
  line-height: 0;
}

/* line 101, ../sass/kimmie.scss */
h1#logo {
  font-weight: 700;
  padding: 20px 0 10px 0;
  font-size: 3em;
}

/* line 106, ../sass/kimmie.scss */
main h2 {
  color: #7e2346;
}

/* line 109, ../sass/kimmie.scss */
h2.subtitle {
  color: #7e2346;
  font-weight: 100;
  padding-bottom: 15px;
}

/* line 114, ../sass/kimmie.scss */
p {
  padding-bottom: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* line 119, ../sass/kimmie.scss */
blockquote {
  font-size: 2em;
  padding: 0 0 20px 0;
  font-family: "Josefin Slab", "Georgia", serif;
  font-style: italic;
}

/* line 126, ../sass/kimmie.scss */
#avatar {
  width: 200px;
  height: auto;
  float: left;
  margin: 0 20px 20px 0;
}

/* line 132, ../sass/kimmie.scss */
img.scaled {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
