/* line 1, ../sass/scott.scss */
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: pink;
  background-color: black;
}

/* line 6, ../sass/scott.scss */
a {
  color: white;
}

/* line 9, ../sass/scott.scss */
h1 {
  font-size: 3em;
  font-weight: normal;
}
