/* line 24, ../sass/scott.scss */
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #c8c22c;
  background-color: #1f242a;
}

/* line 29, ../sass/scott.scss */
a {
  color: #d5e9e5;
}

/* line 32, ../sass/scott.scss */
h1 {
  color: #bd4159;
  font-size: 3em;
  font-weight: normal;
}

/* line 37, ../sass/scott.scss */
h2, h3 {
  color: #679a4f;
}
