body {
    background-color: #463069;
    margin: 80px;
    width: 60%;
    font-family: verdana, sans-serif;
}

main {
    color: #241045;
    font-size: 70%;
}

h1, h3 {
    color: #ffffff;
}

article {
    color: #aca8d9;
}
