body {
  background:#eaeaea;
  color:#5c5c5c;
  font: 15px arial,sans-serif;
    margin: 50px;
}

main {

}

h1
{
color:#4f1971;
text-align:center;
font-size: 35px;
}

h2
{
color:#4f1971;
text-align:center;
font-size: 25px;
}

a:link {
color:#5c5c5c;
font-weight: bold;
text-decoration:none;
}

a:hover {
color:#4f1971;
font-style: bold;
text-decoration:underline;
}
