body{
  background: #32425c;
  color: #fff;
  font-family: Arial;
  text-decoration: none;
  margin-bottom: 100px;

}

h1{
 color: #ce616e;
 margin-top: 1.5em;

}

h2{
  color: #ce616e;
}

p .link{
  font-size: 19px;
  color: #6483b6;
  text-decoration: none;
}

figure{
  margin-bottom: 60px;
}

img{
  width: 50%;
}

#moulin{
  border:10px solid #708090;
}

nav{
  margin-top: 1.5em;
  margin-bottom: 2em;

}

ul{
  list-style-type: none;
}

li{
  display: block;
  padding-bottom: 1em;
}

nav a{
  color: #6483b6;
  text-decoration: none;
  font-size: 25px;
}


a:hover{
  color: #fff;
}




